<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Restaurant</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app" class=" container-fluid p-3 bg-theme">
        <div class="row text-center justify-content-center">
            <h2 style="color: white;" >Restaurant Checkout</h2>
        </div>
        <form class="col-md-12 mb-4 mt-4">
            <div class=" row align-items-center justify-content-center">
                <div class="col-auto">
                    <label style="color:white"  for="name" class="col-form-label"  >Name of Client: </label>
                </div>
                <div class="col-auto">
                    <input  id="name" v-model="name"  type="text" class="form-control bg-theme2" style="cursor: pointer;" >         
                </div>             
            </div>
        </form>

        <section class="col-md-12 bg-theme2"> 
            <div class="row g-0 justify-content-around" >
                <div class="row  col-md-8 mt-1">
                    <div v-for='product in products' class="col-md-3">
                        <div class="align-items-center text-center mt-4 mb-4 p-3 boxes" style="border: solid 1px white">
                            <h6>Meal: {{product.name}}</h6>
                            <p><strong> Price:$ {{(product.price).toFixed(2)}}</strong></p>
                            <div class="d-flex p-2 align-items-center text-center justify-content-center">
                                <button  class="btn btn-danger" @click.prevent="product.quantity--" :disabled ='product.quantity <= 0'>-</button>
                                <span class="p-2">{{product.quantity}}</span>
                                <button class="btn btn-success" @click.prevent="product.quantity++">+</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" row g-0  col-md-4 flex-row text-center justify-content-center" style="border:solid white">
                    <div class="col-md-12 pt-2 ">
                        <h5 >Order Details</h5>
                    </div> 
                    <div class="col-md-12" >
                        <h4 class="fw-bold" style="color: white"  >{{name}}</h4>
                    </div>
                    <div class=" row col-md-12 g-0 justify-content-center flex-row h-50" >
                        <div class="col-md-3 " v-for='product in products'  >
                            <template v-if='product.quantity > 0' >
                                <div class="pt-2 fw-bold bg-theme2" style="border: solid 1px white">
                                        <p>{{product.quantity + 'x ' + product.name}}</p>
                                        <p> Total:$ {{(product.quantity * product.price).toFixed(2)}}</p>

                                </div>
                                   
                            </template>
                        </div>
                    </div>
                    <div class="d-flex mt-1 justify-content-start flex-column">
                        <p> <strong> Total:$ {{ total }}</strong> </p>
                        <div v-if='percent === true'>
                            <p> <strong>10%: $ {{ getPercent }}</strong> </p>
                            <h5> Total Amount $ {{ totalAmount }} </h5>
                        </div>
                            
                    </div>
                </div>
            </div>

        </section>

        <div class="col-md-12 flex-column align-items-center mt-2  " >
            <div class="col-md-12 text-center">
                <button @click='showPercent()'  type="submit" class="btn btn-primary bg-theme2 fw-bold mt-3 w-25" style="border: solid 1px white">Help waiters 10% ?</button>
    
            </div>
            <div class="col-md-12 mb-3 mt-2 text-center">
                  <button @click="onSubmit()" type="submit" class="btn btn-primary fw-bold bg-theme2 mt-3 w-25" style="border: solid 1px white" >Submit</button>
    
            </div>

        </div>
                     
          

    </div>


    <script>
        var app = new Vue ({
            el: '#app',

            data() {
                return {
                    name: '',
                    percent: false,
                    count: 0,
                    products: [
                    {
                        'id': 1,
                        'name': 'Apple',
                        'price': 5.80,
                        'active': false,
                        'quantity': 0
                    },
                    {
                        'id': 2,
                        'name': 'Cake',
                        'price': 13.50,
                        'active': false,
                        'quantity': 0
                    },
                    {
                        'id': 3,
                        'name': 'Pasta',
                        'price': 28.10,
                        'active': false,
                        'quantity': 0
                    },
                    {
                        'id': 4,
                        'name': 'Coke',
                        'price': 1.90,
                        'active': false,
                        'quantity': 0
                    },
                    {
                        'id': 5,
                        'name': 'Pizza',
                        'price': 7.50,
                        'active': false,
                        'quantity': 0
                    },
                    {
                        'id': 6,
                        'name': 'Juice',
                        'price': 3.25,
                        'active': false,
                        'quantity': 0
                    },
                    {
                        'id': 7,
                        'name': 'Salad',
                        'price': 8.75,
                        'active': false,
                        'quantity': 0
                    },
                    {
                        'id': 8,
                        'name': 'Beef',
                        'price': 8.25,
                        'active': false,
                        'quantity': 0
                    },
                    ]
                    
                    
                }
            }, methods: {
                onSubmit() {

                    this.products.map(product => {this.count = this.count + product.quantity})
                    
                    if(this.name === '') {
                        alert('Name is required!')
                    } else if (this.count === 0) {                       
                        alert('Quantity is required!')
                    }else 
                     alert('Thanks! See you later!!!')
                                      
                },

                showPercent() {
                    this.percent = !this.percent
                    
                },

            
                
            },
            computed: {
                total() {
                    var total = 0;

                    this.products.forEach(item => {
                        if(item.quantity > 0) {
                            total += item.price * item.quantity
                        }
                    });
                    return total.toFixed(2)
                    

                },

                getPercent() {
                    var getPercent = 0;

                    this.products.forEach(item => {
                        if(item.quantity > 0) {
                            getPercent += item.price * item.quantity * 0.1
                        }
                    });
                    return getPercent.toFixed(2)
                },

                totalAmount() {
                    var amount = 0;
                    var per = 0;
                    var tot = 0

                    this.products.forEach(item => {
                        if(item.quantity > 0) {
                            per += item.price * item.quantity * 0.1
                        }
                    });

                    this.products.forEach(item => {
                        if(item.quantity > 0) {
                            tot += item.price * item.quantity
                        }
                    });

                    amount = per + tot


                    return amount.toFixed(2)
                },

                



            }
            
        
        }) 

    </script>
    <style scoped>
        body {
            background-image: url(img/restaurant.jpg);
            background-color: rgb(218, 218, 243);
        }

        .boxes:hover {
            background-color: rgb(173, 173, 192);
        }

        .bg-theme {
            background-color: rgba(155, 134, 134, 0.418);
        }

        .bg-theme2 {
            background-color: rgba(155, 142, 142, 0.801);
        }


    </style>
    
</body>
</html>